* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 0.33em 0;
  text-align: center;
  color: RGBA(186, 136, 136, 0.5);
}

h3 {
  text-align: center;
  font-size: 1em;
  color: RGBA(136, 186, 186, 0.6);
}

.hero {
  background-image: url("../afbeeldingen/sky.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.welcome {
  width: 70vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

.welcome h1 {
  color: #000000;
  text-transform: uppercase;
}

.welcome h2 {
  font-size: 1.33em;
  text-align: center;
}

.hamburgerMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.hamburgerMenu .hamburger {
  margin-right: 5%;
  margin-top: 5%;
  text-decoration: none;
  color: #000000;
}

.navbar-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: -100vw;
  top: 0;
  background-color: RGBA(167, 104, 104);
  min-width: 100vw;
  min-height: 50vh;
}

.navbar-side a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  min-height: 10vh;
  text-decoration: none;
  text-transform: uppercase;
  color: RGBA(255, 255, 255);
  border-bottom: 1px solid #FFFF;
}

.navbar-side a .larger {
  width: 20px;
}

.navbar-side a:hover {
  color: RGBA(136, 186, 186);
}

.active {
  right: 0;
}

.close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.close a {
  padding-right: 30px;
  border: none;
}

.parallax {
  background-image: url("../afbeeldingen/tssnstuk.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 10vh;
}

.whoAmI {
  width: 70vw;
  margin: 0 auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.whoAmI .presentation {
  margin: 3% 0;
}

.whoAmI .presentation hr {
  margin: 5% 0;
}

.whoAmI .core .left-text {
  text-align: center;
}

.whoAmI .core .left-text p {
  font-size: 0.9em;
}

.whoAmI .core .linkedinPict {
  margin: 0 auto;
  text-align: center;
}

.whoAmI .core .linkedinPict img {
  border-radius: 50%;
  max-width: 50%;
  height: auto;
}

.whoAmI .core .right-text {
  text-align: center;
}

.whoAmI .core .right-text h4 {
  color: RGBA(136, 186, 186, 0.6);
}

.whoAmI .core .right-text .text-margin {
  margin: 1% 0;
}

@media screen and (max-width: 1223px) {
  .left-text {
    display: block;
  }
  .mobile-visible {
    display: none;
  }
}

@media screen and (min-width: 1224px) {
  .core {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .core .left-text {
    display: none;
  }
  .core .mobile-visible {
    width: 33%;
    display: block;
    text-align: center;
  }
  .core .linkedinPict {
    width: 33%;
    padding: 0 2%;
  }
  .core .linkedinPict img {
    min-width: 90%;
  }
  .core .right-text {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
  }
}

.resume {
  width: 70vw;
  margin: 0 auto;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume li {
  list-style-type: none;
}

.resume li .skill-score {
  float: right;
}

.resume li .langGrade {
  float: right;
}

.resume li .textOpmaak {
  font-size: 0.66em;
}

.parallax1 {
  background-image: url("../afbeeldingen/squares.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 10vh;
}

.templates {
  width: 70vw;
  margin: 0 auto;
}

.templates .allPictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.templates .allPictures .box {
  margin: 0 auto;
  overflow: hidden;
}

.templates .allPictures .box .imgOfHead {
  padding: 2%;
  max-width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.templates .allPictures .box:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.parallax2 {
  background-image: url("../afbeeldingen/vino.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  height: 10vh;
}

.formWrapper {
  width: 70vw;
  margin: 0 auto;
  height: 100vh;
  margin: 0 auto;
}

.formWrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.formWrapper form .submit {
  max-width: 50%;
  margin: 5% auto;
}
/*# sourceMappingURL=style.css.map */