*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

@mixin container {
    width: 70vw;
    margin: 0 auto;
}

h1{
    margin: 0.33rem 0;
    text-align: center;
    font-size: 1.5rem;
    color: RGBA(186,136,136, 0.5);
}

h3{
    text-align: center;
    font-size: 1rem;
    color: RGBA(136,186,186, 0.6);
}

p{
    font-size: 1rem;
}

.hero{
    background-image: url('../afbeeldingen/sky.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.welcome{
    @include container;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 80vh;
    h1{
        color: #000000;
        text-transform: uppercase;
    }
    h2{
        font-size: 1.33rem;
        text-align: center;
    }
} 

.hamburgerMenu{
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    max-height: 5vh;
     .hamburger{
         margin-right: 5%;
         margin-top: 5%;
         text-decoration: none;
         color: #000000;
    } 
}
   
.navbar-side{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -100vw;
    top: 0;
    background-color: RGBA(167,104,104);
    min-width: 100vw;
    min-height: 50vh;
    a{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        min-height: 10vh;
        text-decoration: none;
        text-transform: uppercase;
        color: RGBA(255, 255, 255);
        border-bottom: 1px solid #FFFF;
        .larger{
            width: 20px;
        }
    } 
    a:hover{
        color: RGBA(136,186,186);
    }
}
.active{
    right: 0;
}
.close{
    display: flex;
    justify-content: flex-end;
    a{
        padding-right: 30px;
        border: none;
    }
}

.parallax{
    background-image: url('../afbeeldingen/tssnstuk.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 10vh;
}

.whoAmI{
    @include container;
    max-height: 110vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
        .presentation{
            margin: 3% 0;
            hr{
                margin: 5% 0;
           }
        }
        .core{

            .left-text{
                text-align: center;
                p{
                    font-size: 0.9rem;
                }
            }
            .linkedinPict{
                margin: 0 auto;
                text-align: center;
                img{
                    border-radius: 50%;
                    max-width: 50%;
                    height: auto;
                }
            }
            .right-text{
                text-align: center;
                h4{
                    color: RGBA(136,186,186, 0.6);
                    font-size: 1rem;
                }
                .text-margin{
                    margin: 1% 0;
                }
            }
        }
    }  

//Media-query voor whoAmI mobile landscape
@media (min-width: 481px) and (max-width: 767px) {
    .core{
        display: flex;
        align-items: center;
        flex-direction: row;
        .left-text{
            width: 33%;
        }
        .linkedinPict{
            width: 33%;
            padding: 0 2%;
            img{
                min-width: 90%;
            }
        }
        .right-text{
            width: 33%;
            display: flex;
            flex-direction: column;
            text-align: right;
        }
    }       
  }

//Media-query voor whoAmI tablets
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .core{
        display: flex;
        flex-direction: row;
        .left-text{
            display: none;
        }
        .mobile-visible{
            width: 33%;
            display: block;
            text-align: center;
        }
        .linkedinPict{
            width: 33%;
            padding: 0 2%;

            img{
                min-width: 90%;
            }
        }
        .right-text{
            width: 33%;
            display: flex;
            flex-direction: column;
            text-align: right;
        }
    } 
    
  }

//Media-query voor whoAmI Desktop
@media screen and (max-width : 1223px){
    .left-text{
        display: block;
    }
    .mobile-visible{
        display: none;
    } 
}

@media screen and (min-width : 1224px){
    .core{
        display: flex;
        flex-direction: row;
        .left-text{
            display: none;
        }
        .mobile-visible{
            width: 33%;
            display: block;
            text-align: center;
        }
        .linkedinPict{
            width: 33%;
            padding: 0 2%;
            img{
                min-width: 90%;
            }
        }
        .right-text{
            width: 33%;
            display: flex;
            flex-direction: column;
            text-align: right;
        }
    }    
}

.resume{
    @include container;
    height: 100vh;
    display: flex;
    flex-direction: column;
    li{
        list-style-type: none;
        .skill-score{
            float: right;
        }
        .langGrade{
            float: right;
        }
        .textOpmaak{
            font-size: 0.66em;
        }
    }
}

.parallax1{
    background-image: url('../afbeeldingen/squares.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 10vh;
}

.templates{
    @include container;
    max-height: 100vh;
    .allPictures{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
        .box{
            display: flex;
            justify-content: center;
            margin: 0 auto;
            overflow: hidden;
            .imgOfHead{
                padding: 2%;
                max-width: 50%;
                height: auto;
                transition: transform .5s ease;
            }
        }
        .box:hover img{
            transform: scale(1.5);
        }
    }
}

.parallax2{
    background-image: url('../afbeeldingen/vino.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 10vh;
}

.formWrapper{
    @include container;
    height: 100vh;
   margin: 0 auto;
    form{
        display: flex;
        flex-direction: column;
        .submit{
            max-width: 50%;
            margin: 5% auto;
        }
    }
}
