* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.hero {
  background-image: url("../afbeeldingen/sky.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  background-color: RGBA(186, 136, 136, 0.5);
  position: relative;
}

header .container {
  min-width: 70vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 70vw;
  margin: 0 auto;
}

header .container nav .me {
  margin: 0 20px;
}

header .container nav .hamburger {
  margin: 30px 50px;
}

header .container nav .hamburger .menu {
  text-decoration: none;
  color: #000000;
}

.navbar-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: -100vw;
  top: 0;
  background-color: RGBA(167, 104, 104);
  min-width: 100vw;
  min-height: 50vh;
}

.navbar-side a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  min-height: 10vh;
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px solid #FFFF;
}

.navbar-side a .larger {
  width: 20px;
}

.navbar-side a:hover {
  color: RGBA(136, 186, 186);
}

.active {
  right: 0;
}

.close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.close a {
  padding-right: 30px;
  border: none;
}

.container {
  min-width: 70vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .welcome {
  margin: 0 20px;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10%;
}

.button {
  padding-top: 20px;
}

.button a {
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  background-color: RGBA(136, 186, 186, 0.6);
  padding: 1%;
  margin-top: 1%;
  width: 30%;
}

.container {
  max-width: 70vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .wrapper {
  min-height: 100vh;
}

.container .wrapper .presentation {
  margin: 20px 0;
}

.container .wrapper .presentation h1 {
  text-align: center;
}

.container .wrapper .presentation h3 {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */