* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  margin: 0.33em 0;
  text-align: center;
  color: RGBA(186, 136, 136, 0.5);
}

h3 {
  text-align: center;
  font-size: 1em;
  color: RGBA(136, 186, 186, 0.6);
}

.hero {
  background-image: url("../afbeeldingen/sky.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  background-color: RGBA(186, 136, 136, 0.5);
  position: relative;
}

header .container {
  min-width: 70vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 70vw;
  margin: 0 auto;
}

header .container nav .me {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container nav .me h1 {
  color: #000000;
}

header .container nav .hamburger {
  margin: 30px 50px;
}

header .container nav .hamburger .menu {
  text-decoration: none;
  color: #000000;
}

.navbar-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: -100vw;
  top: 0;
  background-color: RGBA(167, 104, 104);
  min-width: 100vw;
  min-height: 50vh;
}

.navbar-side a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  min-height: 10vh;
  text-decoration: none;
  text-transform: uppercase;
  color: RGBA(255, 255, 255);
  border-bottom: 1px solid #FFFF;
}

.navbar-side a .larger {
  width: 20px;
}

.navbar-side a:hover {
  color: RGBA(136, 186, 186);
}

.active {
  right: 0;
}

.close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.close a {
  padding-right: 30px;
  border: none;
}

.container {
  min-width: 70vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .welcome {
  margin: 0 20px;
  min-height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10%;
}

.container .welcome h1 {
  color: #000000;
  text-align: left;
}

.container .welcome h2 {
  font-size: 1.33em;
}

.button {
  padding-top: 20px;
}

.button a {
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
  background-color: RGBA(136, 186, 186);
  padding: 1%;
  margin-top: 1%;
  width: 30%;
}

.container {
  max-width: 70vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.container .wrapper .presentation {
  margin: 5% 0;
}

.container .wrapper .presentation hr {
  margin: 5% 0;
}

.container .wrapper .core .left-text {
  text-align: center;
}

.container .wrapper .core .left-text p {
  font-size: 0.9em;
}

.container .wrapper .core .linkedinPict {
  margin: 20px 0;
  text-align: center;
}

.container .wrapper .core .linkedinPict img {
  border-radius: 50%;
  max-width: 50%;
  height: auto;
}

.container .wrapper .core .right-text {
  text-align: center;
}

.container .wrapper .core .right-text h4 {
  color: RGBA(136, 186, 186, 0.6);
}

.container .wrapper .core .right-text .text-margin {
  margin: 10px 0;
}

.bckgrColor {
  background: #F7F4EB;
}

.resume {
  min-height: 100vh;
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.resume li {
  list-style-type: none;
}

.resume li .skill-score {
  float: right;
}

.resume li .langGrade {
  float: right;
}

.resume li .textOpmaak {
  font-size: 0.66em;
}

.allPictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}

.allPictures .box {
  margin: 0 auto;
  overflow: hidden;
}

.allPictures .box .imgOfHead {
  padding: 2%;
  max-width: 100%;
  height: auto;
  -webkit-transition: -webkit-transform .5s ease;
  transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
  transition: transform .5s ease, -webkit-transform .5s ease;
}

.allPictures .box:hover img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.container {
  max-width: 70vw;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .formWrapper {
  height: 100vh;
  margin: 0 auto;
}

.container .formWrapper form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .formWrapper form .submit {
  max-width: 50%;
  margin: 5% auto;
}
/*# sourceMappingURL=style.css.map */